<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>找回密码</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
	</head>
	<body>
		<div class="login-boxtitle">
			<a href="home.html"><img alt="logo" src="../static/images/1.png" /></a>
		</div>

		<div class="login-banner">
			<div class="login-main">
				<div class="login-banner-bg">
					<span><img src="../static/images/big.jpg" /></span>
				</div>
				<div class="login-box">
					<h3 class="title">找回密码</h3>
					<div class="am-tab-panel am-active">
						<form>
							<div class="user-phone">
								<label for="phone"><i class="am-icon-mobile-phone am-icon-md"></i></label>
								<input type="text" id="find_phone" placeholder="请输入手机号">
                 			</div>																			
							<div class="verification">
								<label for="code"><i class="am-icon-code-fork"></i></label>
								<input type="text" id="find_code" placeholder="请输入验证码">
							</div>
                 			<div class="user-pass">
								<label for="password"><i class="am-icon-lock"></i></label>
								<input type="password" id="find_pwd" placeholder="新密码">
                 			</div>										
                 			<div class="user-pass">
								<label for="passwordRepeat"><i class="am-icon-lock"></i></label>
								<input type="password" id="find_repwd" placeholder="确认密码">
                 			</div>
              			</form>
           			</div>
           			<button id="find_btn">获取</button>
					<div class="am-cf">
						<input type="button" id="find_submit" value="提交" class="am-btn am-btn-primary am-btn-sm">
					</div>	
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="phone">
				<p>联系电话：040-88888888</p>
			</div>
			<p>Copyright © 2018 满团队 Inc. 保留所有权利。</p>
		</div>
		
		<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" ></script>
		<link rel="stylesheet" href="../static/AmazeUI-2.4.2/assets/css/amazeui.css"/>
		<link href="../static/css/login.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../static/js/findpwd.js" ></script>
	</body>
</html>
