<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
	</head>
	<body>
		<div class="login-boxtitle">
			<a href="home.html"><img alt="logo" src="../static/images/1.png" /></a>
		</div>

		<div class="login-banner">
			<div class="login-main">
				<div class="login-banner-bg">
					<span><img src="../static/images/big.jpg" /></span>
				</div>
				<div class="login-box">
					<h3 class="title" id="title"></h3>
					<div class="login-form">
						<form>
							<div class="user-name">
								<label for="user"><i class="am-icon-user"></i></label>
								<input type="text" name="" id="user" placeholder="手机号码">
                 			</div>
                 			<div class="user-pass">
								<label for="password"><i class="am-icon-lock"></i></label>
								<input type="password" name="" id="password" placeholder="请输入密码">
                 			</div>
              			</form>
           			</div>
					<div class="am-cf">
						<input type="submit" id="login" value="登 录" class="am-btn am-btn-primary am-btn-sm">
					</div>
					<div class="partner">
						<div class="am-btn-group">
							<li><a href="register.html"><span>成为会员或商家</span></a></li>
							<li><a href="#"><span>忘记密码</span> </a></li>
						</div>
					</div>	
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="phone">
				<p>联系电话：040-88888888</p>
			</div>
			<p>Copyright © 2018 满团队 Inc. 保留所有权利。</p>
		</div>
		
		<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" ></script>
		<link rel="stylesheet" href="../static/AmazeUI-2.4.2/assets/css/amazeui.css"/>
		<link href="../static/css/login.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="../static/js/login.js" ></script>
	</body>

</html>