<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
		<title>商品管理</title>
	</head>
	<body>
		<!--头 -->
		<header>
			<article>
				<div class="mt-logo">
					<!--顶部导航条 -->
					<div class="am-container header" id="headerNav">
						<ul class="message-l">
							<div class="topMessage">
								<div class="menu-hd" v-if="site.salesName">
									<a target="_top" href="" @click="logout">注销</a>
								</div>
								<div class="menu-hd" v-if="!site.salesName">
									<a target="_top" href="login.html?type=2">商家登录</a>
								</div>
							</div>
						</ul>
						<ul class="message-r">
							<div class="topMessage home">
								<div class="menu-hd"><a href="'salesHome.html?sid='site.salesId" target="_top" class="h">我的主页</a></div>
							</div>
						</ul>
					</div>
					<!--悬浮搜索框-->
					<div class="nav white">
						<div class="logoBig">
							<img src="../static/images/1.png" />
						</div>
						<div class="search-bar pr">
							<form>
								<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
								<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="botton">
							</form>
						</div>
					</div>
				</div>
			</article>
		</header>

		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="user-order">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">商品管理</strong> / <small>Product</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs id="productList">
							
							<div class="search-pro">
								<input type="text" id="sales-searchPro" placeholder="搜索" />
								<span class="am-btn am-btn-danger" @click="search">搜索</span>
							</div>
							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">已上架</a></li>
								<li><a href="#tab2">未上架</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品名称</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">商品Id</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">上架时间</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<!--已上架-->
											<div class="order-status5" v-for="site in sites" v-if="site.productStatus == 2 || site.productStatus == 3">
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-basic-info">
																	<a :href="'introduction.html?pid='+site.productId">
																		<p :title="site.productName">
																			{{ site.productName }}
																		</p>
																	</a>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{ site.productId }}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	{{ site.postTime }}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<span class="am-btn am-btn-danger anniu" @click="sele(site.productId)">查看</span>
																	<span class="am-btn am-btn-danger anniu" @click="dele(site.productId)">删除</span>
																	<span v-if="site.productStatus == 2 || site.productStatus == 3" class="am-btn am-btn-danger anniu" @click="eval(site.productId)">发起团购</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
												
												<div class="theme-popover" :id="'gb'+site.productId">
													<!--标题 -->
													<div class="am-cf am-padding">
														<div class="am-fl am-cf">
															<strong class="am-text-danger am-text-lg" id="update-text">发起团购</strong> / <small>Initiate Groupbuy</small>
														</div>
													</div>
													<hr/>
													<div class="am-u-md-12">
														<form class="am-form am-form-horizontal">
															<div class="am-form-group">
																<table>
																	<tr>
																		<td>最小拼团人数：</td>
																		<td>
																			<input type="text" :id="'min'+site.productId" />
																		</td>
																	</tr>
																	<tr>
																		<td>最大拼团人数：</td>
																		<td>
																			<input type="text" :id="'max'+site.productId" />
																		</td>
																	</tr>
																	<tr>
																		<td>开始时间：</td>
																		<td>
																			<input type="date" :id="'start'+site.productId" />
																		</td>
																	</tr>
																	<tr>
																		<td>结束时间：</td>
																		<td>
																			<input type="date" :id="'end'+site.productId" />
																		</td>
																	</tr>
																</table>
															</div>
															<div class="am-form-group theme-poptit">
																<div class="am-u-sm-9 am-u-sm-push-3">
																	<div class="am-btn am-btn-danger" @click="gb(site.productId)">提交</div>
																	<div class="am-btn am-btn-danger" @click="hide(site.productId)">取消</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab2">

									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品名称</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">商品Id</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">上架时间</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list">
											<!--未上架-->
											<div class="order-status5" v-for="site in sites" v-if="site.productStatus == 1">
												<div class="order-content">
													<div class="order-left">
														<ul class="item-list">
															<li class="td td-item">
																<div class="item-basic-info">
																	<a :href="'introduction.html?pid='+site.productId">
																		<p :title="site.productName">
																			{{ site.productName }}
																		</p>
																	</a>
																</div>
															</li>
															<li class="td td-price">
																<div class="item-price">
																	{{ site.productId }}
																</div>
															</li>
															<li class="td td-number">
																<div class="item-number">
																	{{ site.postTime }}
																</div>
															</li>
															<li class="td td-operation">
																<div class="item-operation">
																	<span class="am-btn am-btn-danger anniu" @click="sele(site.productId)">查看</span>
																	<span class="am-btn am-btn-danger anniu" @click="dele(site.productId)">删除</span>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>				
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
				<div class="footer">
					<div class="phone">
						<p>联系电话：040-88888888</p>
					</div>
					<p>Copyright © 2018 满团队 Inc. 保留所有权利。</p>
				</div>
			</div>
			<aside class="menu">
				<ul>
					<li class="person">
						<a href="">商家中心</a>
					</li>
					<li class="person">
						<a>商家资料</a>
						<ul>
							<li> <a href="../views/saleInformation.html">商家信息</a></li>
							<li> <a href="../views/saleSafety.html">安全设置</a></li>
						</ul>
					</li>
					<li class="person">
						<a>商品管理</a>
						<ul>
							<li> <a href="../views/saleAddPro.html">新增商品</a></li>
							<li class="active"> <a href="../views/salesProduct.html">所有商品</a></li>
						</ul>
					</li>
					<li class="person">
						<a>我的交易</a>
						<ul>
							<li><a href="../views/salesOrder.html">订单管理</a></li>
						</ul>
					</li>
					<li class="person">
						<a>我的小窝</a>
						<ul>
							<li> <a href="../views/">用户评价</a></li>
							<li> <a href="../views/">销量统计</a></li>
							<li> <a href="">消息</a></li>
						</ul>
					</li>
				</ul>
			</aside>
		</div>
		
		<link href="../static/AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
		<link href="../static/AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">
		<link href="../static/css/personal.css" rel="stylesheet" type="text/css">
		<link href="../static/css/orstyle.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="../static/css/salesPro.css" />
		<script type="text/javascript" src="../static/js/jquery-3.3.1.min.js" ></script>
		<script src="../static/AmazeUI-2.4.2/assets/js/amazeui.js"></script>
		<script type="text/javascript" src="../static/js/vue.js" ></script>
		<script type="text/javascript" src="../static/js/salesPro.js" ></script>
	</body>

</html>