<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.AddressMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Address">
    <id column="address_Id" jdbcType="INTEGER" property="addressId" />
    <result column="user_Id" jdbcType="INTEGER" property="userId" />
    <result column="address_Detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="post_Code" jdbcType="VARCHAR" property="postCode" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="default_Address" jdbcType="INTEGER" property="defaultAddress" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="street" jdbcType="VARCHAR" property="street" />
    <result column="city" jdbcType="VARCHAR" property="city" />
  </resultMap>
  <sql id="Base_Column_List">
    address_Id, user_Id, address_Detail, post_Code, phone, name, default_Address, province, 
    street, city
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where address_Id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where address_Id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Address">
    insert into address (address_Id, user_Id, address_Detail, 
      post_Code, phone, name, 
      default_Address, province, street, 
      city)
    values (#{addressId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{addressDetail,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{defaultAddress,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{street,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        address_Id,
      </if>
      <if test="userId != null">
        user_Id,
      </if>
      <if test="addressDetail != null">
        address_Detail,
      </if>
      <if test="postCode != null">
        post_Code,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="defaultAddress != null">
        default_Address,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="street != null">
        street,
      </if>
      <if test="city != null">
        city,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null">
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddress != null">
        #{defaultAddress,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Address">
    update address
    <set>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null">
        address_Detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        post_Code = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="defaultAddress != null">
        default_Address = #{defaultAddress,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
    </set>
    where address_Id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Address">
    update address
    set user_Id = #{userId,jdbcType=INTEGER},
      address_Detail = #{addressDetail,jdbcType=VARCHAR},
      post_Code = #{postCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      name = #{name,jdbcType=VARCHAR},
      default_Address = #{defaultAddress,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR}
    where address_Id = #{addressId,jdbcType=INTEGER}
  </update>

  <!--new-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from address
        where user_Id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>