<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.AddressMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Address">
    <id column="addressId" jdbcType="INTEGER" property="addressid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="addressDetail" jdbcType="VARCHAR" property="addressdetail" />
    <result column="postCode" jdbcType="VARCHAR" property="postcode" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="defaultAddress" jdbcType="INTEGER" property="defaultaddress" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="street" jdbcType="VARCHAR" property="street" />
  </resultMap>
  <sql id="Base_Column_List">
    addressId, userId, addressDetail, postCode, phone, `name`, defaultAddress, province,
    city, street
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from address
    where addressId = #{addressid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from address
    where addressId = #{addressid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Address">
    insert into address (addressId, userId, addressDetail, 
      postCode, phone, `name`,
      defaultAddress, province, city,
      street)
    values (#{addressid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{addressdetail,jdbcType=VARCHAR}, 
      #{postcode,jdbcType=VARCHAR}, #{phone,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{defaultaddress,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR},
      #{street,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        addressId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="addressdetail != null">
        addressDetail,
      </if>
      <if test="postcode != null">
        postCode,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="defaultaddress != null">
        defaultAddress,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="street != null">
        street,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="addressdetail != null">
        #{addressdetail,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="defaultaddress != null">
        #{defaultaddress,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        #{street,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Address">
    update address
    <set>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="addressdetail != null">
        addressDetail = #{addressdetail,jdbcType=VARCHAR},
      </if>
      <if test="postcode != null">
        postCode = #{postcode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="defaultaddress != null">
        defaultAddress = #{defaultaddress,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="street != null">
        street = #{street,jdbcType=VARCHAR},
      </if>
    </set>
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Address">
    update address
    set userId = #{userid,jdbcType=INTEGER},
      addressDetail = #{addressdetail,jdbcType=VARCHAR},
      postCode = #{postcode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=CHAR},
      `name` = #{name,jdbcType=VARCHAR},
      defaultAddress = #{defaultaddress,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR}
    where addressId = #{addressid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from address
    where userid = #{userid,jdbcType=INTEGER}
  </select>
</mapper>