<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.CommentMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Comment">
    <id column="commentId" jdbcType="INTEGER" property="commentid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="orderId" jdbcType="VARCHAR" property="orderid" />
    <result column="userId" jdbcType="INTEGER" property="userid"/>
    <result column="commentDetail" jdbcType="VARCHAR" property="commentdetail" />
    <result column="commentImgPath" jdbcType="VARCHAR" property="commentimgpath" />
    <result column="commentTime" jdbcType="TIMESTAMP" property="commenttime" />
  </resultMap>
  <sql id="Base_Column_List">
    commentId, productId, orderId, userId, commentDetail, commentImgPath, commentTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where commentId = #{commentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Comment">
    insert into comment (commentId, productId, orderId, userId,
      commentDetail, commentImgPath, commentTime
      )
    values (#{commentid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER},
      #{commentdetail,jdbcType=VARCHAR}, #{commentimgpath,jdbcType=VARCHAR}, #{commenttime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        commentId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="orderid != null">
        orderId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="commentdetail != null">
        commentDetail,
      </if>
      <if test="commentimgpath != null">
        commentImgPath,
      </if>
      <if test="commenttime != null">
        commentTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentid != null">
        #{commentid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="commentdetail != null">
        #{commentdetail,jdbcType=VARCHAR},
      </if>
      <if test="commentimgpath != null">
        #{commentimgpath,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null">
        #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Comment">
    update comment
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="commentdetail != null">
        commentDetail = #{commentdetail,jdbcType=VARCHAR},
      </if>
      <if test="commentimgpath != null">
        commentImgPath = #{commentimgpath,jdbcType=VARCHAR},
      </if>
      <if test="commenttime != null">
        commentTime = #{commenttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Comment">
    update comment
    set productId = #{productid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=INTEGER},
      commentDetail = #{commentdetail,jdbcType=VARCHAR},
      commentImgPath = #{commentimgpath,jdbcType=VARCHAR},
      commentTime = #{commenttime,jdbcType=TIMESTAMP}
    where commentId = #{commentid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <resultMap id="CommentWithOrder" type="com.we.fullbuy.pojo.Comment" extends="BaseResultMap">
    <association property="order" javaType="com.we.fullbuy.pojo.Order" column="orderId" select="com.we.fullbuy.dao.OrderMapper.orderDetail"/>
  </resultMap>

  <select id="displayCommentByUserId" parameterType="java.lang.Integer" resultMap="CommentWithOrder">
    select *
    from comment c,`order` o
    where c.userId = #{userid,jdbcType=INTEGER} and o.orderId = c.orderId
  </select>

  <select id="showProductComment" parameterType="java.lang.Integer" resultMap="CommentWithOrder">
    select *
    from comment c
    where c.productId = #{productid,jdbcType=INTEGER}
  </select>
</mapper>