<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Comment">
    <id column="comment_Id" jdbcType="INTEGER" property="commentId" />
    <result column="product_Id" jdbcType="INTEGER" property="productId" />
    <result column="user_Id" jdbcType="INTEGER" property="userId" />
    <result column="order_Id" jdbcType="VARCHAR" property="orderId" />
    <result column="comment_Detail" jdbcType="VARCHAR" property="commentDetail" />
    <result column="comment_Img_Path" jdbcType="VARCHAR" property="commentImgPath" />
    <result column="comment_Time" jdbcType="TIMESTAMP" property="commentTime" />
  </resultMap>
  <sql id="Base_Column_List">
    comment_Id, product_Id, user_Id, order_Id, comment_Detail, comment_Img_Path, comment_Time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from comment
    where comment_Id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from comment
    where comment_Id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Comment">
    insert into comment (comment_Id, product_Id, user_Id, 
      order_Id, comment_Detail, comment_Img_Path, 
      comment_Time)
    values (#{commentId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{orderId,jdbcType=VARCHAR}, #{commentDetail,jdbcType=VARCHAR}, #{commentImgPath,jdbcType=VARCHAR}, 
      #{commentTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_Id,
      </if>
      <if test="productId != null">
        product_Id,
      </if>
      <if test="userId != null">
        user_Id,
      </if>
      <if test="orderId != null">
        order_Id,
      </if>
      <if test="commentDetail != null">
        comment_Detail,
      </if>
      <if test="commentImgPath != null">
        comment_Img_Path,
      </if>
      <if test="commentTime != null">
        comment_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="commentDetail != null">
        #{commentDetail,jdbcType=VARCHAR},
      </if>
      <if test="commentImgPath != null">
        #{commentImgPath,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Comment">
    update comment
    <set>
      <if test="productId != null">
        product_Id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_Id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="commentDetail != null">
        comment_Detail = #{commentDetail,jdbcType=VARCHAR},
      </if>
      <if test="commentImgPath != null">
        comment_Img_Path = #{commentImgPath,jdbcType=VARCHAR},
      </if>
      <if test="commentTime != null">
        comment_Time = #{commentTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where comment_Id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Comment">
    update comment
    set product_Id = #{productId,jdbcType=INTEGER},
      user_Id = #{userId,jdbcType=INTEGER},
      order_Id = #{orderId,jdbcType=VARCHAR},
      comment_Detail = #{commentDetail,jdbcType=VARCHAR},
      comment_Img_Path = #{commentImgPath,jdbcType=VARCHAR},
      comment_Time = #{commentTime,jdbcType=TIMESTAMP}
    where comment_Id = #{commentId,jdbcType=INTEGER}
  </update>

  <!--new-->
  <resultMap id="CommentWithOrder" type="com.we.fullbuy.pojo.Comment" extends="BaseResultMap">
    <association property="order" javaType="com.we.fullbuy.pojo.Order">
      <id column="order_Id" jdbcType="VARCHAR" property="orderId" />
      <result column="user_Id" jdbcType="INTEGER" property="userId" />
      <result column="sku_Id" jdbcType="INTEGER" property="skuId" />
      <result column="total_Price" jdbcType="DOUBLE" property="totalPrice" />
      <result column="address_Id" jdbcType="INTEGER" property="addressId" />
      <result column="num" jdbcType="INTEGER" property="num" />
      <result column="order_Date" jdbcType="TIMESTAMP" property="orderDate" />
      <result column="order_Status" jdbcType="INTEGER" property="orderStatus" />
      <result column="price" jdbcType="DOUBLE" property="price" />
      <association property="product" javaType="com.we.fullbuy.pojo.Product">
        <id column="product_Id" jdbcType="INTEGER" property="productId" />
        <result column="product_Name" jdbcType="VARCHAR" property="productName" />
        <result column="product_Detail" jdbcType="VARCHAR" property="productDetail" />
        <result column="product_Score" jdbcType="INTEGER" property="productScore" />
        <result column="sales_Num" jdbcType="INTEGER" property="salesNum" />
        <result column="category_Id" jdbcType="INTEGER" property="categoryId" />
        <result column="second_Category_Id" jdbcType="INTEGER" property="secondCategoryId" />
        <result column="sales_Id" jdbcType="INTEGER" property="salesId" />
        <result column="post_Time" jdbcType="TIMESTAMP" property="postTime" />
        <result column="product_Status" jdbcType="INTEGER" property="productStatus" />
        <result column="search_Img_Path" jdbcType="VARCHAR" property="searchImgPath" />
        <result column="s_Img_Path1" jdbcType="VARCHAR" property="sImgPath1" />
        <result column="s_Img_Path2" jdbcType="VARCHAR" property="sImgPath2" />
        <result column="m_Img_Path1" jdbcType="VARCHAR" property="mImgPath1" />
        <result column="m_Img_Path2" jdbcType="VARCHAR" property="mImgPath2" />
        <result column="b_Img_Path1" jdbcType="VARCHAR" property="bImgPath1" />
        <result column="b_Img_Path2" jdbcType="VARCHAR" property="bImgPath2" />
        <result column="detail_Img_Path1" jdbcType="VARCHAR" property="detailImgPath1" />
        <result column="detail_Img_Path2" jdbcType="VARCHAR" property="detailImgPath2" />
        <result column="item1" jdbcType="VARCHAR" property="item1" />
        <result column="item2" jdbcType="VARCHAR" property="item2" />
        <result column="postfee" jdbcType="INTEGER" property="postfee" />
        <association property="sku" javaType="com.we.fullbuy.pojo.Sku">
          <id column="skuId" jdbcType="INTEGER" property="skuid" />
          <id column="sku_Id" jdbcType="INTEGER" property="skuId" />
          <result column="product_Id" jdbcType="INTEGER" property="productId" />
          <result column="item_Id" jdbcType="INTEGER" property="itemId" />
          <result column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
          <result column="price" jdbcType="DOUBLE" property="price" />
          <result column="gb_Price" jdbcType="DOUBLE" property="gbPrice" />
          <result column="quantity" jdbcType="INTEGER" property="quantity" />
          <association property="item" javaType="com.we.fullbuy.pojo.Item">
            <id column="item_Id" jdbcType="INTEGER" property="itemId" />
            <result column="item_Name" jdbcType="VARCHAR" property="itemName" />
          </association>
          <association property="secondItem" javaType="com.we.fullbuy.pojo.Seconditem">
            <id column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
            <result column="second_Item_Name" jdbcType="VARCHAR" property="secondItemName" />
          </association>
        </association>
      </association>
    </association>
  </resultMap>

  <select id="displayCommentByUserId" parameterType="java.lang.Integer" resultMap="CommentWithOrder">
    select *
    from comment c,`order` o,product p,sku s,item i,seconditem si
    where c.user_Id = #{userId,jdbcType=INTEGER} and o.order_Id = c.order_Id and  s.sku_Id = o.sku_Id
          and p.product_Id = s.product_Id and i.item_Id = s.item_Id and si.second_Item_Id = s.second_Item_Id
    order by  comment_Time desc
  </select>

  <select id="displayCommentBySalesId" parameterType="java.lang.Integer" resultMap="CommentWithOrder">
    select *
    from comment c,`order` o,product p,sku s,item i,seconditem si
    where c.sales_Id = #{salesId,jdbcType=INTEGER} and o.order_Id = c.order_Id and  s.sku_Id = o.sku_Id
          and p.product_Id = s.product_Id and i.item_Id = s.item_Id and si.second_Item_Id = s.second_Item_Id
  </select>

  <select id="showProductComment" parameterType="java.lang.Integer" resultMap="CommentWithOrder">
    select *
    from comment c
    where c.product_Id = #{productId,jdbcType=INTEGER}
  </select>
</mapper>