<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.GroudbuyMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Groudbuy">
    <id column="gbId" jdbcType="INTEGER" property="gbid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="minPeople" jdbcType="INTEGER" property="minpeople" />
    <result column="maxPeople" jdbcType="INTEGER" property="maxpeople" />
    <result column="nowPeople" jdbcType="INTEGER" property="nowpeople" />
    <result column="beginTime" jdbcType="TIMESTAMP" property="begintime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="gbStatus" jdbcType="INTEGER" property="gbstatus" />
    <result column="salesId" jdbcType="INTEGER" property="salesid" />
    <result column="bgColor" jdbcType="VARCHAR" property="bgcolor" />
  </resultMap>
  <sql id="Base_Column_List">
    gbId, productId, minPeople, maxPeople, nowPeople, beginTime, endTime, gbStatus, salesId, 
    bgColor
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from groudbuy
    where gbId = #{gbid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from groudbuy
    where gbId = #{gbid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Groudbuy">
    insert into groudbuy (gbId, productId, minPeople, 
      maxPeople, nowPeople, beginTime, 
      endTime, gbStatus, salesId, 
      bgColor)
    values (#{gbid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{minpeople,jdbcType=INTEGER}, 
      #{maxpeople,jdbcType=INTEGER}, #{nowpeople,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{gbstatus,jdbcType=INTEGER}, #{salesid,jdbcType=INTEGER}, 
      #{bgcolor,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Groudbuy">
    insert into groudbuy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gbid != null">
        gbId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="minpeople != null">
        minPeople,
      </if>
      <if test="maxpeople != null">
        maxPeople,
      </if>
      <if test="nowpeople != null">
        nowPeople,
      </if>
      <if test="begintime != null">
        beginTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="gbstatus != null">
        gbStatus,
      </if>
      <if test="salesid != null">
        salesId,
      </if>
      <if test="bgcolor != null">
        bgColor,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gbid != null">
        #{gbid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="minpeople != null">
        #{minpeople,jdbcType=INTEGER},
      </if>
      <if test="maxpeople != null">
        #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="nowpeople != null">
        #{nowpeople,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gbstatus != null">
        #{gbstatus,jdbcType=INTEGER},
      </if>
      <if test="salesid != null">
        #{salesid,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null">
        #{bgcolor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Groudbuy">
    update groudbuy
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="minpeople != null">
        minPeople = #{minpeople,jdbcType=INTEGER},
      </if>
      <if test="maxpeople != null">
        maxPeople = #{maxpeople,jdbcType=INTEGER},
      </if>
      <if test="nowpeople != null">
        nowPeople = #{nowpeople,jdbcType=INTEGER},
      </if>
      <if test="begintime != null">
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="gbstatus != null">
        gbStatus = #{gbstatus,jdbcType=INTEGER},
      </if>
      <if test="salesid != null">
        salesId = #{salesid,jdbcType=INTEGER},
      </if>
      <if test="bgcolor != null">
        bgColor = #{bgcolor,jdbcType=VARCHAR},
      </if>
    </set>
    where gbId = #{gbid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Groudbuy">
    update groudbuy
    set productId = #{productid,jdbcType=INTEGER},
      minPeople = #{minpeople,jdbcType=INTEGER},
      maxPeople = #{maxpeople,jdbcType=INTEGER},
      nowPeople = #{nowpeople,jdbcType=INTEGER},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      gbStatus = #{gbstatus,jdbcType=INTEGER},
      salesId = #{salesid,jdbcType=INTEGER},
      bgColor = #{bgcolor,jdbcType=VARCHAR}
    where gbId = #{gbid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <select id="selectBySalesId" resultMap="BaseResultMap">
    select *
    from groudbuy
    where salesId = #{salesid,jdbcType=INTEGER}
  </select>

  <select id="searchGroudbuy" resultMap="BaseResultMap">
    select g.*,p.*
    from groudbuy g,product p
    where g.productId = p.productId and productName like `%` #{keyword} `%`
  </select>

  <select id="showAllGroudbuy" resultMap="BaseResultMap">
    select *
    from groudbuy
  </select>
</mapper>