<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.ManagerMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Manager">
    <id column="managerId" jdbcType="INTEGER" property="managerid" />
    <result column="managerPwd" jdbcType="VARCHAR" property="managerpwd" />
  </resultMap>
  <sql id="Base_Column_List">
    managerId, managerPwd
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from manager
    where managerId = #{managerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from manager
    where managerId = #{managerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Manager">
    insert into manager (managerId, managerPwd)
    values (#{managerid,jdbcType=INTEGER}, #{managerpwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Manager">
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="managerid != null">
        managerId,
      </if>
      <if test="managerpwd != null">
        managerPwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="managerid != null">
        #{managerid,jdbcType=INTEGER},
      </if>
      <if test="managerpwd != null">
        #{managerpwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Manager">
    update manager
    <set>
      <if test="managerpwd != null">
        managerPwd = #{managerpwd,jdbcType=VARCHAR},
      </if>
    </set>
    where managerId = #{managerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Manager">
    update manager
    set managerPwd = #{managerpwd,jdbcType=VARCHAR}
    where managerId = #{managerid,jdbcType=INTEGER}
  </update>
</mapper>