<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Order">
    <id column="order_Id" jdbcType="VARCHAR" property="orderId" />
    <result column="user_Id" jdbcType="INTEGER" property="userId" />
    <result column="sku_Id" jdbcType="INTEGER" property="skuId" />
    <result column="total_Price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="address_Id" jdbcType="INTEGER" property="addressId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="order_Date" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="order_Status" jdbcType="INTEGER" property="orderStatus" />
    <result column="price" jdbcType="DOUBLE" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    order_Id, user_Id, sku_Id, total_Price, address_Id, num, order_Date, order_Status, 
    price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from `order`
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from `order`
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Order">
    insert into `order` (order_Id, user_Id, sku_Id,
      total_Price, address_Id, num, 
      order_Date, order_Status, price
      )
    values (#{orderId,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{skuId,jdbcType=INTEGER}, 
      #{totalPrice,jdbcType=DOUBLE}, #{addressId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, 
      #{orderDate,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Order">
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_Id,
      </if>
      <if test="userId != null">
        user_Id,
      </if>
      <if test="skuId != null">
        sku_Id,
      </if>
      <if test="totalPrice != null">
        total_Price,
      </if>
      <if test="addressId != null">
        address_Id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="orderDate != null">
        order_Date,
      </if>
      <if test="orderStatus != null">
        order_Status,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        #{skuId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Order">
    update `order`
    <set>
      <if test="userId != null">
        user_Id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="skuId != null">
        sku_Id = #{skuId,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null">
        total_Price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="addressId != null">
        address_Id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="orderDate != null">
        order_Date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null">
        order_Status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
    </set>
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Order">
    update `order`
    set user_Id = #{userId,jdbcType=INTEGER},
      sku_Id = #{skuId,jdbcType=INTEGER},
      total_Price = #{totalPrice,jdbcType=DOUBLE},
      address_Id = #{addressId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      order_Date = #{orderDate,jdbcType=TIMESTAMP},
      order_Status = #{orderStatus,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE}
    where order_Id = #{orderId,jdbcType=VARCHAR}
  </update>


  <!--new-->
  <resultMap id="orderWithProduct" type="com.we.fullbuy.pojo.Order" extends="BaseResultMap">
    <association property="product" javaType="com.we.fullbuy.pojo.Product">
      <id column="product_Id" jdbcType="INTEGER" property="productId" />
      <result column="product_Name" jdbcType="VARCHAR" property="productName" />
      <result column="product_Detail" jdbcType="VARCHAR" property="productDetail" />
      <result column="product_Score" jdbcType="INTEGER" property="productScore" />
      <result column="sales_Num" jdbcType="INTEGER" property="salesNum" />
      <result column="category_Id" jdbcType="INTEGER" property="categoryId" />
      <result column="second_Category_Id" jdbcType="INTEGER" property="secondCategoryId" />
      <result column="sales_Id" jdbcType="INTEGER" property="salesId" />
      <result column="post_Time" jdbcType="TIMESTAMP" property="postTime" />
      <result column="product_Status" jdbcType="INTEGER" property="productStatus" />
      <result column="search_Img_Path" jdbcType="VARCHAR" property="searchImgPath" />
      <result column="s_Img_Path1" jdbcType="VARCHAR" property="sImgPath1" />
      <result column="s_Img_Path2" jdbcType="VARCHAR" property="sImgPath2" />
      <result column="m_Img_Path1" jdbcType="VARCHAR" property="mImgPath1" />
      <result column="m_Img_Path2" jdbcType="VARCHAR" property="mImgPath2" />
      <result column="b_Img_Path1" jdbcType="VARCHAR" property="bImgPath1" />
      <result column="b_Img_Path2" jdbcType="VARCHAR" property="bImgPath2" />
      <result column="detail_Img_Path1" jdbcType="VARCHAR" property="detailImgPath1" />
      <result column="detail_Img_Path2" jdbcType="VARCHAR" property="detailImgPath2" />
      <result column="item1" jdbcType="VARCHAR" property="item1" />
      <result column="item2" jdbcType="VARCHAR" property="item2" />
      <result column="postfee" jdbcType="INTEGER" property="postfee" />
      <association property="sku" javaType="com.we.fullbuy.pojo.Sku">
        <id column="skuId" jdbcType="INTEGER" property="skuid" />
        <id column="sku_Id" jdbcType="INTEGER" property="skuId" />
        <result column="product_Id" jdbcType="INTEGER" property="productId" />
        <result column="item_Id" jdbcType="INTEGER" property="itemId" />
        <result column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="gb_Price" jdbcType="DOUBLE" property="gbPrice" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <association property="item" javaType="com.we.fullbuy.pojo.Item">
          <id column="item_Id" jdbcType="INTEGER" property="itemId" />
          <result column="item_Name" jdbcType="VARCHAR" property="itemName" />
        </association>
        <association property="secondItem" javaType="com.we.fullbuy.pojo.Seconditem">
          <id column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
          <result column="second_Item_Name" jdbcType="VARCHAR" property="secondItemName" />
        </association>
      </association>
    </association>
  </resultMap>


  <select id="selectBySalesId" resultMap="orderWithProduct">
    select *
    from `order` o, product p, sku s, item i, seconditem si
    where p.sales_Id = #{salesId,jdbcType=INTEGER} and o.product_Id = p.product_Id  and s.product_Id = o.product_Id
    and s.item_Id = i.item_Id and s.second_Item_Id = si.second_Item_Id
  </select>

  <select id="selectByUserId" resultMap="orderWithProduct">
    select *
    from `order` o, product p, sku s, item i, seconditem si
    where o.user_Id = #{userId,jdbcType=INTEGER} and s.sku_Id = o.sku_Id and p.product_Id = s.product_Id
    and s.item_Id = i.item_Id and s.second_Item_Id = si.second_Item_Id
  </select>

  <resultMap id="orderDetail" type="com.we.fullbuy.pojo.Order" extends="BaseResultMap">
    <association property="address" javaType="com.we.fullbuy.pojo.Address">
      <id column="address_Id" jdbcType="INTEGER" property="addressId" />
      <result column="user_Id" jdbcType="INTEGER" property="userId" />
      <result column="address_Detail" jdbcType="VARCHAR" property="addressDetail" />
      <result column="post_Code" jdbcType="VARCHAR" property="postCode" />
      <result column="phone" jdbcType="CHAR" property="phone" />
      <result column="name" jdbcType="VARCHAR" property="name" />
      <result column="default_Address" jdbcType="INTEGER" property="defaultAddress" />
      <result column="province" jdbcType="VARCHAR" property="province" />
      <result column="street" jdbcType="VARCHAR" property="street" />
      <result column="city" jdbcType="VARCHAR" property="city" />
    </association>
    <association property="product" javaType="com.we.fullbuy.pojo.Product">
      <id column="product_Id" jdbcType="INTEGER" property="productId" />
      <result column="product_Name" jdbcType="VARCHAR" property="productName" />
      <result column="product_Detail" jdbcType="VARCHAR" property="productDetail" />
      <result column="product_Score" jdbcType="INTEGER" property="productScore" />
      <result column="sales_Num" jdbcType="INTEGER" property="salesNum" />
      <result column="category_Id" jdbcType="INTEGER" property="categoryId" />
      <result column="second_Category_Id" jdbcType="INTEGER" property="secondCategoryId" />
      <result column="sales_Id" jdbcType="INTEGER" property="salesId" />
      <result column="post_Time" jdbcType="TIMESTAMP" property="postTime" />
      <result column="product_Status" jdbcType="INTEGER" property="productStatus" />
      <result column="search_Img_Path" jdbcType="VARCHAR" property="searchImgPath" />
      <result column="s_Img_Path1" jdbcType="VARCHAR" property="sImgPath1" />
      <result column="s_Img_Path2" jdbcType="VARCHAR" property="sImgPath2" />
      <result column="m_Img_Path1" jdbcType="VARCHAR" property="mImgPath1" />
      <result column="m_Img_Path2" jdbcType="VARCHAR" property="mImgPath2" />
      <result column="b_Img_Path1" jdbcType="VARCHAR" property="bImgPath1" />
      <result column="b_Img_Path2" jdbcType="VARCHAR" property="bImgPath2" />
      <result column="detail_Img_Path1" jdbcType="VARCHAR" property="detailImgPath1" />
      <result column="detail_Img_Path2" jdbcType="VARCHAR" property="detailImgPath2" />
      <result column="item1" jdbcType="VARCHAR" property="item1" />
      <result column="item2" jdbcType="VARCHAR" property="item2" />
      <result column="postfee" jdbcType="INTEGER" property="postfee" />
      <association property="sku" javaType="com.we.fullbuy.pojo.Sku">
        <id column="skuId" jdbcType="INTEGER" property="skuid" />
        <id column="sku_Id" jdbcType="INTEGER" property="skuId" />
        <result column="product_Id" jdbcType="INTEGER" property="productId" />
        <result column="item_Id" jdbcType="INTEGER" property="itemId" />
        <result column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
        <result column="price" jdbcType="DOUBLE" property="price" />
        <result column="gb_Price" jdbcType="DOUBLE" property="gbPrice" />
        <result column="quantity" jdbcType="INTEGER" property="quantity" />
        <association property="item" javaType="com.we.fullbuy.pojo.Item">
          <id column="item_Id" jdbcType="INTEGER" property="itemId" />
          <result column="item_Name" jdbcType="VARCHAR" property="itemName" />
        </association>
        <association property="secondItem" javaType="com.we.fullbuy.pojo.Seconditem">
          <id column="second_Item_Id" jdbcType="INTEGER" property="secondItemId" />
          <result column="second_Item_Name" jdbcType="VARCHAR" property="secondItemName" />
        </association>
      </association>
    </association>
  </resultMap>

  <select id="orderDetail" parameterType="java.lang.String" resultMap="orderDetail">
    select *
    from `order` o,product p,address a,sku s,item i,seconditem si
    where order_Id = #{orderId,jdbcType=VARCHAR} and a.address_Id = o.address_Id and s.sku_Id = o.sku_Id
          and p.product_Id = s.product_Id and i.item_Id = s.item_Id and si.second_Item_Id = s.second_Item_Id
  </select>
</mapper>