<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.ProductMapper">
  <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Product">
    <id column="productId" jdbcType="INTEGER" property="productid" />
    <result column="productName" jdbcType="VARCHAR" property="productname" />
    <result column="productDetail" jdbcType="VARCHAR" property="productdetail" />
    <result column="productScore" jdbcType="INTEGER" property="productscore" />
    <result column="salesNum" jdbcType="INTEGER" property="salesnum" />
    <result column="categoryId" jdbcType="INTEGER" property="categoryid" />
    <result column="secondCategoryId" jdbcType="INTEGER" property="secondcategoryid" />
    <result column="salesId" jdbcType="INTEGER" property="salesid" />
    <result column="postTime" jdbcType="TIMESTAMP" property="posttime" />
    <result column="productStatus" jdbcType="INTEGER" property="productstatus" />
    <result column="searchImgPath" jdbcType="VARCHAR" property="searchimgpath" />
    <result column="sImgPath1" jdbcType="VARCHAR" property="simgpath1" />
    <result column="sImgPath2" jdbcType="VARCHAR" property="simgpath2" />
    <result column="mImgPath1" jdbcType="VARCHAR" property="mimgpath1" />
    <result column="mImgPath2" jdbcType="VARCHAR" property="mimgpath2" />
    <result column="bImgPath1" jdbcType="VARCHAR" property="bimgpath1" />
    <result column="bImgPath2" jdbcType="VARCHAR" property="bimgpath2" />
    <result column="DetailImgPath1" jdbcType="VARCHAR" property="detailimgpath1" />
    <result column="DetailImgPath2" jdbcType="VARCHAR" property="detailimgpath2" />
    <result column="item1" jdbcType="VARCHAR" property="item1" />
    <result column="item2" jdbcType="VARCHAR" property="item2" />
    <result column="postfee" jdbcType="INTEGER" property="postfee" />
  </resultMap>
  <sql id="Base_Column_List">
    productId, productName, productDetail, productScore, salesNum, categoryId, secondCategoryId, salesId,
    postTime, productStatus, searchImgPath, sImgPath1, sImgPath2, mImgPath1, mImgPath2, 
    bImgPath1, bImgPath2, DetailImgPath1, DetailImgPath2, item1, item2, postfee
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where productId = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where productId = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Product">
    insert into product (productId, productName, productDetail, 
      productScore, salesNum, categoryId, secondCategoryId,
      salesId, postTime, productStatus, 
      searchImgPath, sImgPath1, sImgPath2, 
      mImgPath1, mImgPath2, bImgPath1, 
      bImgPath2, DetailImgPath1, DetailImgPath2, 
      item1, item2, postfee
      )
    values (#{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{productdetail,jdbcType=VARCHAR}, 
      #{productscore,jdbcType=INTEGER}, #{salesnum,jdbcType=INTEGER}, #{categoryid,jdbcType=INTEGER}, #{secondcategoryid,jdbcType=INTEGER},
      #{salesid,jdbcType=INTEGER}, #{posttime,jdbcType=TIMESTAMP}, #{productstatus,jdbcType=INTEGER}, 
      #{searchimgpath,jdbcType=VARCHAR}, #{simgpath1,jdbcType=VARCHAR}, #{simgpath2,jdbcType=VARCHAR}, 
      #{mimgpath1,jdbcType=VARCHAR}, #{mimgpath2,jdbcType=VARCHAR}, #{bimgpath1,jdbcType=VARCHAR}, 
      #{bimgpath2,jdbcType=VARCHAR}, #{detailimgpath1,jdbcType=VARCHAR}, #{detailimgpath2,jdbcType=VARCHAR}, 
      #{item1,jdbcType=VARCHAR}, #{item2,jdbcType=VARCHAR}, #{postfee,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productId,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="productdetail != null">
        productDetail,
      </if>
      <if test="productscore != null">
        productScore,
      </if>
      <if test="salesnum != null">
        salesNum,
      </if>
      <if test="categoryid != null">
        categoryId,
      </if>
      <if test="secondcategoryid != null">
        secondCategoryId,
      </if>
      <if test="salesid != null">
        salesId,
      </if>
      <if test="posttime != null">
        postTime,
      </if>
      <if test="productstatus != null">
        productStatus,
      </if>
      <if test="searchimgpath != null">
        searchImgPath,
      </if>
      <if test="simgpath1 != null">
        sImgPath1,
      </if>
      <if test="simgpath2 != null">
        sImgPath2,
      </if>
      <if test="mimgpath1 != null">
        mImgPath1,
      </if>
      <if test="mimgpath2 != null">
        mImgPath2,
      </if>
      <if test="bimgpath1 != null">
        bImgPath1,
      </if>
      <if test="bimgpath2 != null">
        bImgPath2,
      </if>
      <if test="detailimgpath1 != null">
        DetailImgPath1,
      </if>
      <if test="detailimgpath2 != null">
        DetailImgPath2,
      </if>
      <if test="item1 != null">
        item1,
      </if>
      <if test="item2 != null">
        item2,
      </if>
      <if test="postfee != null">
        postfee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productdetail != null">
        #{productdetail,jdbcType=VARCHAR},
      </if>
      <if test="productscore != null">
        #{productscore,jdbcType=INTEGER},
      </if>
      <if test="salesnum != null">
        #{salesnum,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="secondcategoryid != null">
        #{secondcategoryid,jdbcType=INTEGER},
      </if>
      <if test="salesid != null">
        #{salesid,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        #{posttime,jdbcType=TIMESTAMP},
      </if>
      <if test="productstatus != null">
        #{productstatus,jdbcType=INTEGER},
      </if>
      <if test="searchimgpath != null">
        #{searchimgpath,jdbcType=VARCHAR},
      </if>
      <if test="simgpath1 != null">
        #{simgpath1,jdbcType=VARCHAR},
      </if>
      <if test="simgpath2 != null">
        #{simgpath2,jdbcType=VARCHAR},
      </if>
      <if test="mimgpath1 != null">
        #{mimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="mimgpath2 != null">
        #{mimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="bimgpath1 != null">
        #{bimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="bimgpath2 != null">
        #{bimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="detailimgpath1 != null">
        #{detailimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="detailimgpath2 != null">
        #{detailimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="item1 != null">
        #{item1,jdbcType=VARCHAR},
      </if>
      <if test="item2 != null">
        #{item2,jdbcType=VARCHAR},
      </if>
      <if test="postfee != null">
        #{postfee,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Product">
    update product
    <set>
      <if test="productname != null">
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="productdetail != null">
        productDetail = #{productdetail,jdbcType=VARCHAR},
      </if>
      <if test="productscore != null">
        productScore = #{productscore,jdbcType=INTEGER},
      </if>
      <if test="salesnum != null">
        salesNum = #{salesnum,jdbcType=INTEGER},
      </if>
      <if test="categoryid != null">
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="SECONDcategoryid != null">
        secondCategoryId = #{secondcategoryid,jdbcType=INTEGER},
      </if>
      <if test="salesid != null">
        salesId = #{salesid,jdbcType=INTEGER},
      </if>
      <if test="posttime != null">
        postTime = #{posttime,jdbcType=TIMESTAMP},
      </if>
      <if test="productstatus != null">
        productStatus = #{productstatus,jdbcType=INTEGER},
      </if>
      <if test="searchimgpath != null">
        searchImgPath = #{searchimgpath,jdbcType=VARCHAR},
      </if>
      <if test="simgpath1 != null">
        sImgPath1 = #{simgpath1,jdbcType=VARCHAR},
      </if>
      <if test="simgpath2 != null">
        sImgPath2 = #{simgpath2,jdbcType=VARCHAR},
      </if>
      <if test="mimgpath1 != null">
        mImgPath1 = #{mimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="mimgpath2 != null">
        mImgPath2 = #{mimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="bimgpath1 != null">
        bImgPath1 = #{bimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="bimgpath2 != null">
        bImgPath2 = #{bimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="detailimgpath1 != null">
        DetailImgPath1 = #{detailimgpath1,jdbcType=VARCHAR},
      </if>
      <if test="detailimgpath2 != null">
        DetailImgPath2 = #{detailimgpath2,jdbcType=VARCHAR},
      </if>
      <if test="item1 != null">
        item1 = #{item1,jdbcType=VARCHAR},
      </if>
      <if test="item2 != null">
        item2 = #{item2,jdbcType=VARCHAR},
      </if>
      <if test="postfee != null">
        postfee = #{postfee,jdbcType=INTEGER},
      </if>
    </set>
    where productId = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Product">
    update product
    set productName = #{productname,jdbcType=VARCHAR},
      productDetail = #{productdetail,jdbcType=VARCHAR},
      productScore = #{productscore,jdbcType=INTEGER},
      salesNum = #{salesnum,jdbcType=INTEGER},
      categoryId = #{categoryid,jdbcType=INTEGER},
      secondCategoryId = #{secondcategoryid,jdbcType=INTEGER},
      salesId = #{salesid,jdbcType=INTEGER},
      postTime = #{posttime,jdbcType=TIMESTAMP},
      productStatus = #{productstatus,jdbcType=INTEGER},
      searchImgPath = #{searchimgpath,jdbcType=VARCHAR},
      sImgPath1 = #{simgpath1,jdbcType=VARCHAR},
      sImgPath2 = #{simgpath2,jdbcType=VARCHAR},
      mImgPath1 = #{mimgpath1,jdbcType=VARCHAR},
      mImgPath2 = #{mimgpath2,jdbcType=VARCHAR},
      bImgPath1 = #{bimgpath1,jdbcType=VARCHAR},
      bImgPath2 = #{bimgpath2,jdbcType=VARCHAR},
      DetailImgPath1 = #{detailimgpath1,jdbcType=VARCHAR},
      DetailImgPath2 = #{detailimgpath2,jdbcType=VARCHAR},
      item1 = #{item1,jdbcType=VARCHAR},
      item2 = #{item2,jdbcType=VARCHAR},
      postfee = #{postfee,jdbcType=INTEGER}
    where productId = #{productid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <resultMap id="productDetail" type="com.we.fullbuy.pojo.Product" extends="BaseResultMap">
    <collection property="skuList" ofType="com.we.fullbuy.pojo.Sku">
      <id column="skuId" jdbcType="INTEGER" property="skuid" />
      <result column="productId" jdbcType="INTEGER" property="productid" />
      <result column="itemId" jdbcType="INTEGER" property="itemid" />
      <result column="secondItemId" jdbcType="INTEGER" property="seconditemid" />
      <result column="price" jdbcType="DOUBLE" property="price" />
      <result column="quantity" jdbcType="INTEGER" property="quantity" />
      <result column="gbPrice" jdbcType="DOUBLE" property="gbprice" />
      <collection property="itemList" ofType="com.we.fullbuy.pojo.Item">
        <id column="itemId" jdbcType="INTEGER" property="itemid" />
        <result column="itemName" jdbcType="VARCHAR" property="itemname" />
      </collection>
      <collection property="seconditemList" ofType="com.we.fullbuy.pojo.Seconditem">
        <id column="secondItemId" jdbcType="INTEGER" property="seconditemid" />
        <result column="secondItemName" jdbcType="VARCHAR" property="seconditemname" />
      </collection>
    </collection>
  </resultMap>

  <select id="displayProductDetail" parameterType="java.lang.Integer" resultMap="productDetail">
    select p.*,s.*,i.*,si.*
    from product p, sku s, item i, seconditem si
    where p.productId = #{productid,jdbcType=INTEGER} and s.productId = p.productId and s.itemId = i.itemId and s.secondItemId = si.secondItemId
  </select>

  <select id="searchBySkuId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select p.*,s.*
    from product p, sku s
    where s.skuId = #{skuid,jdbcType=INTEGER} and p.productId = s.productId
  </select>

  <select id="displayBySalesnum" resultMap="BaseResultMap">
    select *
    from product
    order by salesNum desc limit 12
  </select>

  <select id="displayByScore" resultMap="BaseResultMap">
    select *
    from product
    order by productScore desc
  </select>

  <select id="displayByPosttime" resultMap="BaseResultMap">
    select *
    from product
    order by posttime desc limit 3
  </select>

  <select id="detailImgPth" resultMap="BaseResultMap">
    select DetailImgPath1,DetailImgPath2
    from product
    where productId = #{productid,jdbcType=INTEGER}
  </select>

  <select id="relatedProduct" resultMap="BaseResultMap">
    SELECT *
	FROM product
	WHERE categoryId IN
	(
		SELECT categoryId
		FROM prodcuct
		WHERE productId = #{productid,jdbcType=INTEGER}
	)
  </select>
</mapper>