<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.SalesMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Sales">
    <id column="sales_Id" jdbcType="INTEGER" property="salesId" />
    <result column="salaes_Pwd" jdbcType="VARCHAR" property="salaesPwd" />
    <result column="salaes_Name" jdbcType="VARCHAR" property="salaesName" />
    <result column="sales_Phone" jdbcType="CHAR" property="salesPhone" />
    <result column="sales_Address" jdbcType="VARCHAR" property="salesAddress" />
    <result column="sales_Detail" jdbcType="VARCHAR" property="salesDetail" />
    <result column="sales_Status" jdbcType="INTEGER" property="salesStatus" />
    <result column="sales_Email" jdbcType="VARCHAR" property="salesEmail" />
    <result column="black" jdbcType="INTEGER" property="black" />
    <result column="login_Phone" jdbcType="CHAR" property="loginPhone" />
    <result column="sales_Img_Path" jdbcType="VARCHAR" property="salesImgPath" />
  </resultMap>
  <sql id="Base_Column_List">
    sales_Id, salaes_Pwd, salaes_Name, sales_Phone, sales_Address, sales_Detail, sales_Status, 
    sales_Email, black, login_Phone, sales_Img_Path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sales
    where sales_Id = #{salesId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sales
    where sales_Id = #{salesId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Sales">
    insert into sales (sales_Id, salaes_Pwd, salaes_Name, 
      sales_Phone, sales_Address, sales_Detail, 
      sales_Status, sales_Email, black, 
      login_Phone, sales_Img_Path)
    values (#{salesId,jdbcType=INTEGER}, #{salaesPwd,jdbcType=VARCHAR}, #{salaesName,jdbcType=VARCHAR}, 
      #{salesPhone,jdbcType=CHAR}, #{salesAddress,jdbcType=VARCHAR}, #{salesDetail,jdbcType=VARCHAR}, 
      #{salesStatus,jdbcType=INTEGER}, #{salesEmail,jdbcType=VARCHAR}, #{black,jdbcType=INTEGER}, 
      #{loginPhone,jdbcType=CHAR}, #{salesImgPath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Sales">
    insert into sales
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="salesId != null">
        sales_Id,
      </if>
      <if test="salaesPwd != null">
        salaes_Pwd,
      </if>
      <if test="salaesName != null">
        salaes_Name,
      </if>
      <if test="salesPhone != null">
        sales_Phone,
      </if>
      <if test="salesAddress != null">
        sales_Address,
      </if>
      <if test="salesDetail != null">
        sales_Detail,
      </if>
      <if test="salesStatus != null">
        sales_Status,
      </if>
      <if test="salesEmail != null">
        sales_Email,
      </if>
      <if test="black != null">
        black,
      </if>
      <if test="loginPhone != null">
        login_Phone,
      </if>
      <if test="salesImgPath != null">
        sales_Img_Path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="salesId != null">
        #{salesId,jdbcType=INTEGER},
      </if>
      <if test="salaesPwd != null">
        #{salaesPwd,jdbcType=VARCHAR},
      </if>
      <if test="salaesName != null">
        #{salaesName,jdbcType=VARCHAR},
      </if>
      <if test="salesPhone != null">
        #{salesPhone,jdbcType=CHAR},
      </if>
      <if test="salesAddress != null">
        #{salesAddress,jdbcType=VARCHAR},
      </if>
      <if test="salesDetail != null">
        #{salesDetail,jdbcType=VARCHAR},
      </if>
      <if test="salesStatus != null">
        #{salesStatus,jdbcType=INTEGER},
      </if>
      <if test="salesEmail != null">
        #{salesEmail,jdbcType=VARCHAR},
      </if>
      <if test="black != null">
        #{black,jdbcType=INTEGER},
      </if>
      <if test="loginPhone != null">
        #{loginPhone,jdbcType=CHAR},
      </if>
      <if test="salesImgPath != null">
        #{salesImgPath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Sales">
    update sales
    <set>
      <if test="salaesPwd != null">
        salaes_Pwd = #{salaesPwd,jdbcType=VARCHAR},
      </if>
      <if test="salaesName != null">
        salaes_Name = #{salaesName,jdbcType=VARCHAR},
      </if>
      <if test="salesPhone != null">
        sales_Phone = #{salesPhone,jdbcType=CHAR},
      </if>
      <if test="salesAddress != null">
        sales_Address = #{salesAddress,jdbcType=VARCHAR},
      </if>
      <if test="salesDetail != null">
        sales_Detail = #{salesDetail,jdbcType=VARCHAR},
      </if>
      <if test="salesStatus != null">
        sales_Status = #{salesStatus,jdbcType=INTEGER},
      </if>
      <if test="salesEmail != null">
        sales_Email = #{salesEmail,jdbcType=VARCHAR},
      </if>
      <if test="black != null">
        black = #{black,jdbcType=INTEGER},
      </if>
      <if test="loginPhone != null">
        login_Phone = #{loginPhone,jdbcType=CHAR},
      </if>
      <if test="salesImgPath != null">
        sales_Img_Path = #{salesImgPath,jdbcType=VARCHAR},
      </if>
    </set>
    where sales_Id = #{salesId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Sales">
    update sales
    set salaes_Pwd = #{salaesPwd,jdbcType=VARCHAR},
      salaes_Name = #{salaesName,jdbcType=VARCHAR},
      sales_Phone = #{salesPhone,jdbcType=CHAR},
      sales_Address = #{salesAddress,jdbcType=VARCHAR},
      sales_Detail = #{salesDetail,jdbcType=VARCHAR},
      sales_Status = #{salesStatus,jdbcType=INTEGER},
      sales_Email = #{salesEmail,jdbcType=VARCHAR},
      black = #{black,jdbcType=INTEGER},
      login_Phone = #{loginPhone,jdbcType=CHAR},
      sales_Img_Path = #{salesImgPath,jdbcType=VARCHAR}
    where sales_Id = #{salesId,jdbcType=INTEGER}
  </update>


  <!--new-->
  <select id="selectByPhone" parameterType="java.lang.String">
    select *
    from sales
    where login_Phone = #{phone,jdbcType=CHAR}
  </select>

  <select id="displayRecommend" resultMap="BaseResultMap">
    select *
    from sales limit 6
  </select>
</mapper>