<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.SecondcategoryMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Secondcategory">
    <id column="second_Category_Id" jdbcType="INTEGER" property="secondCategoryId" />
    <result column="second_Category_Name" jdbcType="VARCHAR" property="secondCategoryName" />
    <result column="category_Id" jdbcType="INTEGER" property="categoryId" />
  </resultMap>
  <sql id="Base_Column_List">
    second_Category_Id, second_Category_Name, category_Id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from secondcategory
    where second_Category_Id = #{secondCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from secondcategory
    where second_Category_Id = #{secondCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Secondcategory">
    insert into secondcategory (second_Category_Id, second_Category_Name, 
      category_Id)
    values (#{secondCategoryId,jdbcType=INTEGER}, #{secondCategoryName,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Secondcategory">
    insert into secondcategory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="secondCategoryId != null">
        second_Category_Id,
      </if>
      <if test="secondCategoryName != null">
        second_Category_Name,
      </if>
      <if test="categoryId != null">
        category_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="secondCategoryId != null">
        #{secondCategoryId,jdbcType=INTEGER},
      </if>
      <if test="secondCategoryName != null">
        #{secondCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Secondcategory">
    update secondcategory
    <set>
      <if test="secondCategoryName != null">
        second_Category_Name = #{secondCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_Id = #{categoryId,jdbcType=INTEGER},
      </if>
    </set>
    where second_Category_Id = #{secondCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Secondcategory">
    update secondcategory
    set second_Category_Name = #{secondCategoryName,jdbcType=VARCHAR},
      category_Id = #{categoryId,jdbcType=INTEGER}
    where second_Category_Id = #{secondCategoryId,jdbcType=INTEGER}
  </update>

  <!--new-->
  <select id="displaySecondCategory" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from secondcategory
    where Category_Id = #{CategoryId,jdbcType=INTEGER}
  </select>
</mapper>