<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.SkuMapper">
  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.Sku">
    <id column="skuId" jdbcType="INTEGER" property="skuid" />
    <result column="productId" jdbcType="INTEGER" property="productid" />
    <result column="itemId" jdbcType="INTEGER" property="itemid" />
    <result column="secondItemId" jdbcType="INTEGER" property="seconditemid" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="gbPrice" jdbcType="DOUBLE" property="gbprice" />
  </resultMap>
  <sql id="Base_Column_List">
    skuId, productId, itemId, secondItemId, price, quantity, gbPrice
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sku
    where skuId = #{skuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sku
    where skuId = #{skuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.Sku">
    insert into sku (skuId, productId, itemId, 
      secondItemId, price, quantity, 
      gbPrice)
    values (#{skuid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, 
      #{seconditemid,jdbcType=INTEGER}, #{price,jdbcType=DOUBLE}, #{quantity,jdbcType=INTEGER}, 
      #{gbprice,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.Sku">
    insert into sku
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="skuid != null">
        skuId,
      </if>
      <if test="productid != null">
        productId,
      </if>
      <if test="itemid != null">
        itemId,
      </if>
      <if test="seconditemid != null">
        secondItemId,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="gbprice != null">
        gbPrice,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="skuid != null">
        #{skuid,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="seconditemid != null">
        #{seconditemid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="gbprice != null">
        #{gbprice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.Sku">
    update sku
    <set>
      <if test="productid != null">
        productId = #{productid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        itemId = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="seconditemid != null">
        secondItemId = #{seconditemid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="gbprice != null">
        gbPrice = #{gbprice,jdbcType=DOUBLE},
      </if>
    </set>
    where skuId = #{skuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.Sku">
    update sku
    set productId = #{productid,jdbcType=INTEGER},
      itemId = #{itemid,jdbcType=INTEGER},
      secondItemId = #{seconditemid,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      quantity = #{quantity,jdbcType=INTEGER},
      gbPrice = #{gbprice,jdbcType=DOUBLE}
    where skuId = #{skuid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <resultMap id="sku-item" type="com.we.fullbuy.pojo.Sku" extends="BaseResultMap">
    <collection property="itemList" ofType="com.we.fullbuy.pojo.Item">
      <id column="itemId" jdbcType="INTEGER" property="itemid" />
      <result column="itemName" jdbcType="VARCHAR" property="itemname" />
    </collection>
    <collection property="seconditemList" ofType="com.we.fullbuy.pojo.Seconditem">
      <id column="secondItemId" jdbcType="INTEGER" property="seconditemid" />
      <result column="secondItemName" jdbcType="VARCHAR" property="seconditemname" />
    </collection>
  </resultMap>

  <select id="selectSkuWithItems" parameterType="java.lang.Integer" resultMap="sku-item">
    select s.*,i.*,si.*
    from sku s,item i,seconditem si
    where skuId = #{skuid,jdbcType=INTEGER} and s.itemId = i.itemId and s.secondItemId = si.secondItemId
  </select>
</mapper>