<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.User">
    <id column="userId" jdbcType="INTEGER" property="userid" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userType" jdbcType="INTEGER" property="usertype" />
    <result column="userQQ" jdbcType="VARCHAR" property="userqq" />
    <result column="userPhone" jdbcType="CHAR" property="userphone" />
    <result column="userEmail" jdbcType="VARCHAR" property="useremail" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="userScore" jdbcType="INTEGER" property="userscore" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="black" jdbcType="INTEGER" property="black" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, password, userName, userType, userQQ, userPhone, userEmail, sex, userScore, 
    lastLoginTime, black
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where userId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.User">
    insert into user (userId, password, userName, 
      userType, userQQ, userPhone, 
      userEmail, sex, userScore, 
      lastLoginTime, black)
    values (#{userid,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=INTEGER}, #{userqq,jdbcType=VARCHAR}, #{userphone,jdbcType=CHAR}, 
      #{useremail,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{userscore,jdbcType=INTEGER}, 
      #{lastlogintime,jdbcType=TIMESTAMP}, #{black,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userId,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="userqq != null">
        userQQ,
      </if>
      <if test="userphone != null">
        userPhone,
      </if>
      <if test="useremail != null">
        userEmail,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="userscore != null">
        userScore,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
      <if test="black != null">
        black,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=INTEGER},
      </if>
      <if test="userqq != null">
        #{userqq,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        #{userphone,jdbcType=CHAR},
      </if>
      <if test="useremail != null">
        #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="userscore != null">
        #{userscore,jdbcType=INTEGER},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="black != null">
        #{black,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.User">
    update user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=INTEGER},
      </if>
      <if test="userqq != null">
        userQQ = #{userqq,jdbcType=VARCHAR},
      </if>
      <if test="userphone != null">
        userPhone = #{userphone,jdbcType=CHAR},
      </if>
      <if test="useremail != null">
        userEmail = #{useremail,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="userscore != null">
        userScore = #{userscore,jdbcType=INTEGER},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="black != null">
        black = #{black,jdbcType=INTEGER},
      </if>
    </set>
    where userId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.User">
    update user
    set password = #{password,jdbcType=VARCHAR},
      userName = #{username,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=INTEGER},
      userQQ = #{userqq,jdbcType=VARCHAR},
      userPhone = #{userphone,jdbcType=CHAR},
      userEmail = #{useremail,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      userScore = #{userscore,jdbcType=INTEGER},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      black = #{black,jdbcType=INTEGER}
    where userId = #{userid,jdbcType=INTEGER}
  </update>

  <!--new-->
  <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select userId,phone,password
    from user
    where phone = #{phone,jdbcType=STRING}
  </select>
</mapper>