<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.we.fullbuy.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.we.fullbuy.pojo.User">
    <id column="user_Id" jdbcType="INTEGER" property="userId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_Name" jdbcType="VARCHAR" property="userName" />
    <result column="user_Type" jdbcType="INTEGER" property="userType" />
    <result column="user_QQ" jdbcType="VARCHAR" property="userQq" />
    <result column="user_Phone" jdbcType="CHAR" property="userPhone" />
    <result column="user_Email" jdbcType="VARCHAR" property="userEmail" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="user_Profile" jdbcType="VARCHAR" property="userProfile" />
    <result column="user_Score" jdbcType="INTEGER" property="userScore" />
    <result column="last_Login_Time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="black" jdbcType="INTEGER" property="black" />
  </resultMap>
  <sql id="Base_Column_List">
    user_Id, password, user_Name, user_Type, user_QQ, user_Phone, user_Email, sex, user_Profile, 
    user_Score, last_Login_Time, black
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where user_Id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_Id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.we.fullbuy.pojo.User">
    insert into user (user_Id, password, user_Name, 
      user_Type, user_QQ, user_Phone, 
      user_Email, sex, user_Profile, 
      user_Score, last_Login_Time, black
      )
    values (#{userId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userType,jdbcType=INTEGER}, #{userQq,jdbcType=VARCHAR}, #{userPhone,jdbcType=CHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{userProfile,jdbcType=VARCHAR}, 
      #{userScore,jdbcType=INTEGER}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{black,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.we.fullbuy.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_Id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userName != null">
        user_Name,
      </if>
      <if test="userType != null">
        user_Type,
      </if>
      <if test="userQq != null">
        user_QQ,
      </if>
      <if test="userPhone != null">
        user_Phone,
      </if>
      <if test="userEmail != null">
        user_Email,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="userProfile != null">
        user_Profile,
      </if>
      <if test="userScore != null">
        user_Score,
      </if>
      <if test="lastLoginTime != null">
        last_Login_Time,
      </if>
      <if test="black != null">
        black,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userQq != null">
        #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
      <if test="userProfile != null">
        #{userProfile,jdbcType=VARCHAR},
      </if>
      <if test="userScore != null">
        #{userScore,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="black != null">
        #{black,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.we.fullbuy.pojo.User">
    update user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_Name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userType != null">
        user_Type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userQq != null">
        user_QQ = #{userQq,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null">
        user_Phone = #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userEmail != null">
        user_Email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=CHAR},
      </if>
      <if test="userProfile != null">
        user_Profile = #{userProfile,jdbcType=VARCHAR},
      </if>
      <if test="userScore != null">
        user_Score = #{userScore,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null">
        last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="black != null">
        black = #{black,jdbcType=INTEGER},
      </if>
    </set>
    where user_Id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.we.fullbuy.pojo.User">
    update user
    set password = #{password,jdbcType=VARCHAR},
      user_Name = #{userName,jdbcType=VARCHAR},
      user_Type = #{userType,jdbcType=INTEGER},
      user_QQ = #{userQq,jdbcType=VARCHAR},
      user_Phone = #{userPhone,jdbcType=CHAR},
      user_Email = #{userEmail,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      user_Profile = #{userProfile,jdbcType=VARCHAR},
      user_Score = #{userScore,jdbcType=INTEGER},
      last_Login_Time = #{lastLoginTime,jdbcType=TIMESTAMP},
      black = #{black,jdbcType=INTEGER}
    where user_Id = #{userId,jdbcType=INTEGER}
  </update>


  <!--new-->
  <select id="selectByPhone" resultMap="BaseResultMap">
    select *
    from user
    where user_Phone = #{phone,jdbcType=CHAR}
  </select>
</mapper>